page-favourite {
  .header-btn {
    margin: 0 10px !important;
  }
  h3 {
    font-size: 2.2rem;
    text-align: center;
    color: $primary;
  }

  ion-label {
    white-space: normal;
  }
  .heading {
    font-size: 15px;
    font-weight: 700;
    color: $grey;
  }
  .item-md ion-thumbnail img {
    height: 5em;
    width: 5em;
  }
  .add {
    background-color: $primary;
    border-radius: 0px;
    box-shadow: none;
  }
  .delete {
    border-radius: 0px;
    box-shadow: none;
    float: right;
  }
  .empty-cart {
    font-size: 10.2em;
    display: block;
    margin: 0.2em auto 0;
    color: $danger;
  }
  .bg {
    background-image: url(../assets/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h4 {
    font-size: 2.2rem;
    text-align: center;
    color: $white;
  }
  .continue-btn {
    background-color: $primary !important;
    color: #fff;
    padding: 13.5px 30px;
    box-shadow: none;
    display: block;
    margin: 2em auto 0;
    border-radius: 0;
  }
}
