page-cart {
  .no-padding {
    padding: 0;
  }
  .alert-md .alert-radio-icon {
    right: 13px !important;
  }
  .header-btn {
    margin: 0 10px !important;
  }
  .price-details {
    display: flex;
    width: 97%;
  }
  .cart-list {
    margin-bottom: -12px !important;
    .cart-item {
      padding: 0;
      .item-inner {
        padding: 0;
        .label {
          margin: 13px 0px;
          .full {
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
          }
        }
      }
      .close-btn {
        // margin: 4.2rem 0 0 -1rem;
        top: 33%;
        left: -32%;
        color: $dark-grey !important;
      }
      img {
        height: 91px;
        width: 100%;
      }
      .item-name {
        font-weight: 500;
        font-size: 17px;
        text-overflow: ellipsis;
        white-space: nowrap !important;
        overflow: hidden;
      }
      .item-detail {
        font-size: 13px;
        line-height: 1.3em;
        white-space: initial !important;
      }
      .item-price {
        font-weight: 700;
        color: $primary;
      }
      .cut {
        text-decoration: line-through;
      }
    }
  }
  .select-item {
    padding-left: 0 !important;
  }

  .calculate {
    margin: 0 4px;
    .bill-detail {
      color: rgb(102, 102, 102) !important;
      padding: 2px 3px 0px 2px;
      font-size: 14px;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
    }
    .cart-total {
      font-size: 1.2em;
      padding: 7px 0px;
      color: #666;
      display: flex;
      justify-content: space-between;
      span {
        float: right;
        font-weight: 700;
        color: $primary;
      }
    }
  }
  h4 {
    font-size: 2.2rem;
    text-align: center;
    color: $white;
  }
  .continue-btn {
    background-color: $primary !important;
    height: 46px;
    font-size: 1.8rem;
    border-radius: 0;
    margin-top: 1em;
  }
  .empty-btn {
    background-color: $primary !important;
    height: 46px;
    margin: 0 auto;
    display: block;
  }
  .counter {
    .col {
      padding: 10px 0;
    }
    .count {
      .item-count {
        padding: 1.5px 9px;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        background-color: $grey;
      }
      .show-count {
        background-color: #32cd32 !important;
      }
    }
    ion-icon {
      color: $danger;
      font-size: 2rem;
    }
  }
  .select-item {
    margin-top: 6px;
    .label {
      color: #424242 !important;
      font-size: 14px !important;
    }
    ion-select {
      padding-left: 0 !important;
      font-size: 14px !important;
      max-width: 100%;
    }
  }
  .bg {
    background-image: url(../assets/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .empty-cart {
    font-size: 10.2em;
    display: block;
    margin: 0.2em auto 0;
    color: $primary;
  }

  .coupon-applied {
    color: $primary;
  }
}
