.ios {
  .cart-icon-nav {
    top: 10px;
  }
}

.bar-button-default,
.bar-button-clear-default,
.bar-button-default {
  color: $white;
  background-color: transparent;
}

body {
  font-family: "PT Sans", sans-serif;
}

//hide toolbar border IOS

.toolbar-background-ios {
  border: 0px;
}

//remove default anchor color
a {
  color: inherit;
}

//remove scroller
::-webkit-scrollbar {
  display: none;
}

//cart icon nagigation
.cart-icon-nav {
  position: absolute;
  right: 12px;
  top: -3px;
}
.carts {
  position: absolute;
  top: -3px;
  right: 13px;
  border-radius: 50%;
  height: 19px;
  width: 20px;
}

ion-badge {
  display: inline-block;
  font-size: 11px;
  padding-top: 5px;
  padding-left: 7px;
}

.menu-badge {
  color: #fff;
  background-color: $primary;
  float: right;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-size: 12px;
  padding-top: 7px;
  padding-left: 7px;
}

// sidebar-header
.sidebar-menu {
  background-image: url(../assets/img/menu-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .list-md {
    margin: 24px 0 16px 0;
  }
  .menu-bg {
    height: 115px;
    width: 100%;
  }
  .list .item-block .item-inner {
    border-bottom: 0px;
  }
  .item.item-block .item-inner {
    border-bottom: 0px;
  }
  .menu-item {
    background-color: transparent;
    color: #fff;
    height: 3.5em;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
  }
  .img-name-row {
    text-align: center;
    .user-img {
      max-width: 100%;
      height: 5.5em;
      width: 5.5em;
      border: 3px solid $white;
      border-radius: 50%;
      margin-top: 24px;
    }
  }
  .user-name {
    color: $white;
    font-size: 2rem;
    text-align: center;
  }
}

/*side bar scss*/
/*common-header*/
.toolbar-background {
  background: $primary !important;
}

.toolbar-title {
  color: $white;
  text-align: center;
  button {
    margin-top: -6px;
    float: right;
    color: $white;
  }
}
.alert-md .alert-wrapper {
  .alert-radio-icon {
    left: 13px !important;
    right: 13px !important;
  }
}
.item-inner {
  box-shadow: none !important;
}
.header-btn-cart {
  margin: 0 10px !important;
}
