page-news {
  .item-block {
    align-items: flex-start !important;
  }
  ion-label {
    white-space: initial !important;
  }
  .bg {
    background-image: url(../assets/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .empty-news {
    font-size: 10.2em;
    display: block;
    margin: 0.2em auto 0;
    color: $white;
  }
  h4 {
    font-size: 2.2rem;
    text-align: center;
    color: $white;
  }
}
